/* .container-usuario {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: auto;
    gap: 10px;
    border-top: 2px solid blue;
}

.container-usuario img {
    border-radius: 50%;
    height: 50%;
    padding-top: 2px;
}

.container-usuario p {
    font-size: 1rem;
    color: blue;
    padding-top: 2px;
} */